obj
bin
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]esharper
*.DotSettings.user
*.suo
*.cache
*~
*.swp
*.exe
*.dll
*.pdb
*.mdf
*.ldf
*.~*
*.tlb
log4net.xml
NDepend*
*.rar
*.Publish.xml
*.LDF
*.picasa.ini
*.onetoc2
*.docstate
*.zip
*.psd
packages/
*/assets/images/hotels/
